.Kont { 
	margin-top: 15px;
	height:800px;
    border-radius: 5px;
    border: 1px solid lightblue;
    background-color: #f0f0f0;
    margin-bottom: 5px;
} 
/* Info window size (optional) */ 
.gomapMarker { 
    display: block; 
    width: 150px; 
    height: auto; 
} 
.navbar {
	border-radius: 0px;
	background-color: #f0f0f0;
	background-repeat: repeat;
}
.navbar-brand{
	color: #777;
}

li>a{color: #777;}

body{
	font-family: 'Open Sans', sans-serif;
	font-size : 140%;
}

th{
			color: white;
			background-color: #1abc9c;
		}
.baslik{

}


div.DTTT { margin-bottom: 0.5em; float: right; }
div.dataTables_wrapper { clear: both; }
div.dataTables_filter {
		text-align: left;
}

#butonlar{
	text-align: center;
}

#tablo{
	width: 100%;

}
.img-fluid{
	max-width: 80%;
	margin-bottom: 5%;
}

.Konteynır { 
	margin-top: 15px;
	height:600px;
    border-radius: 5px;
    border: 1px solid lightblue;
    background-color: #f0f0f0;
    margin-bottom: 5px;
} 

.MirasKonteynır { 
	margin-top: 15px;
	height:auto;
    border-radius: 5px;
    border: 1px solid lightblue;
    background-color: #f0f0f0;
    margin-bottom: 5px;
} 
footer{
   	  position:fixed;
   	  bottom:0
      padding: 10px 20px;
      background: #666;
      color: white;
      }

#altfooter {
   bottom:0;
   width:100%;
   height:50px;   /* footer yüksekliği */
   background:#666;
   text-align:center;
}